* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    /*debug*/
    background-color: darkorange;
}

.main-container {
    /*debug*/
    /*background-color: red;*/
}

.head-bar {
    text-align: center;
    margin-top: 20px;
    /*debug*/
   /*background-color: hotpink;*/
}

.albums-box {
    margin: 10px;
    padding: 20px;
}

.album-information {
    text-align: center;
    margin-top: 10px;
    /*debug*/
   /* background-color: red;*/
}

.album-information span {
    font-weight: bold;
}
.container img {
    width: 100%;
}

